:root {
    --bg-color: #1c1c1c;
    --main-color: #dfd7af;
    --sub-color: #444444;
    --text-color: #f5f3ed;
    --error-color: #af5f5f;
    --error-extra-color: #4d2113;

    color: var(--main-color);
    background: var(--bg-color);
}

body {
    background: var(--bg-color);
}

::selection {
    background-color: var(--error-extra-color);
}

::-moz-selection {
    background-color: var(--error-extra-color);
}

.cursor {
    color: var(--error-color);
    background-color: var(--error-color);
}

#command {
    color: var(--error-color);
}

#liner::before {
    color: var(--main-color);
}

.color2 {
    color: var(--sub-color);
}

.command {
    color: var(--error-color);
    text-shadow: 0 0 5px var(--error-color); 
}

.error {
    color: var(--sub-color);
}

.inherit,
a {
    color: var(--text-color);
}

a:hover {
background: var(--error-color);
}