:root {
    --bg-color: #011926;
    --main-color: #00e980;
    --sub-color: #245c69;
    --text-color: #fff;
    --error-color: #b94da1;
    --error-extra-color: #9b3a76;

    color: var(--main-color);
    background: var(--bg-color);
}