:root {
    --bg-color: #ffeead;
    --main-color: #96ceb4;
    --sub-color: #ffcc5c;
    --text-color: #5b7869;
    --error-color: #ff6f69;
    --error-extra-color: #ff6f69;

    color: var(--main-color);
    background: var(--bg-color);
}
