:root {
  --bg-color: #173f35;
  --main-color: #eaa09c;
  --sub-color: #408e7b;
  --text-color: #e9e0d2;
  --error-color: #d44729;
  --error-extra-color: #8f2f19;
  
  color: var(--main-color);
  background: var(--bg-color);
}