:root {
  --bg-color: #ceb18d;
  --main-color: #14120f;
  --sub-color: #d4d2d1;
  --text-color: #14120f;
  --error-color: #c82931;
  --error-extra-color: #ac1823;
  
  color: var(--main-color);
  background: var(--bg-color);
}