:root {
  --bg-color: #faf1e4;
  --main-color: #618c56;
  --sub-color: #c2b8aa;
  --text-color: #3c403b;
  --error-color: #ad4f4e;
  --error-extra-color: #7e3a39;
  
  color: var(--main-color);
  background: var(--bg-color);
}