:root {
  --bg-color: #1e1e2e;
  --main-color: #abe9b3;
  --sub-color: #575268;
  --text-color: #d9e0ee;
  --error-color: #f28fad;
  --error-extra-color: #e8a2af;
  
  color: var(--main-color);
  background: var(--bg-color);
}