:root {
    --main-color: #00ce7c; 
    --bg-color: #181c18;
    --selBackground: #d22a2a;
    --sub-color: #9578d3;
    --text-color: #c2fbe1;
    --command: #ff5f5f;

    color: var(--main-color);
    background: var(--bg-color);
}

body {
    background: var(--bg-color);
}

::selection {
    background-color: var(--selBackground);
}

::-moz-selection {
    background-color: var(--selBackground);
}

.cursor {
    color: var(--command);
    background-color: var(--command);
}

#command {
    color: var(--command);
}

#liner::before {
    color: var(--main-color);
}

.color2 {
    color: var(--sub-color);
}

.command {
    color: var(--command);
    text-shadow: 0 0 5px var(--command); 
}

.error {
    color: var(--sub-color);
}

.inherit,
a {
    color: var(--text-color);
}

a:hover {
background: var(--command);
}