:root {
    --main-color: #eee; 
    --bg-color: #111;
    --selBackground: #791717;
    --sub-color: #444;
    --text-color: #eee;
    --command: #da3333;

    color: var(--main-color);
    background: var(--bg-color);
}

body {
    background: var(--bg-color);
}

::selection {
    background-color: var(--selBackground);
}

::-moz-selection {
    background-color: var(--selBackground);
}

.cursor {
    color: var(--command);
    background-color: var(--command);
}

#command {
    color: var(--command);
}

#liner::before {
    color: var(--main-color);
}

.color2 {
    color: var(--sub-color);
}

.command {
    color: var(--command);
    text-shadow: 0 0 5px var(--command); 
}

.error {
    color: var(--sub-color);
}

.inherit,
a {
    color: var(--text-color);
}

a:hover {
background: var(--command);
}