:root {
  --bg-color: #282a36;
  --main-color: #f2f2f2;
  --sub-color: #bd93f9;
  --text-color: #f2f2f2;
  --error-color: #f758a0;
  --error-extra-color: #732e51;
  
  color: var(--main-color);
  background: var(--bg-color);
}

body {
  background: var(--bg-color);
}

::selection {
  background-color: var(--error-extra-color);
}

::-moz-selection {
  background-color: var(--error-extra-color);
}

.cursor {
  color: var(--error-color);
  background-color: var(--error-color);
}

#command {
  color: var(--error-color);
}

#liner::before {
  color: var(--main-color);
}

.color2 {
  color: var(--sub-color);
}

.command {
  color: var(--error-color);
  text-shadow: 0 0 5px var(--error-color); 
}

.error {
  color: var(--sub-color);
}

.inherit,
a {
  color: var(--text-color);
}

a:hover {
background: var(--error-color);
}