:root {
  --bg-color: #3b363f;
  --main-color: #fc6e83;
  --sub-color: #8e5568;
  --text-color: #e6d5d3;
  --error-color: #f52443;
  --error-extra-color: #bd001c;
  
  color: var(--main-color);
  background: var(--bg-color);
}