:root {
  --bg-color: #9bf2ea;
  --main-color: #6d44a6;
  --sub-color: #b690fd;
  --text-color: #ffffff;
  --error-color: #e42629;
  --error-extra-color: #e42629;
  
  color: var(--main-color);
  background: var(--bg-color);
}