:root {
  --bg-color: #727474;
  --main-color: #7fa482;
  --sub-color: #cac4be;
  --text-color: #131313;
  --error-color: #5e477c;
  --error-extra-color: #413157;
  
  color: var(--main-color);
  background: var(--bg-color);
}