:root {
  --bg-color: #d8d2c3;
  --main-color: #513a2a;
  --sub-color: #8b6f5c;
  --text-color: #393b3b;
  --error-color: #ca4754;
  --error-extra-color: #7e2a33;
  
  color: var(--main-color);
  background: var(--bg-color);
}