:root {
  --bg-color: #1c1e26;
  --main-color: #c4a88a;
  --sub-color: #db886f;
  --text-color: #bbbbbb;
  --error-color: #d55170;
  --error-extra-color: #ff3d3d;
  
  color: var(--main-color);
  background: var(--bg-color);
}