:root {
  --bg-color: #202020;
  --main-color: #91170c;
  --sub-color: #847869;
  --text-color: #fae1c3;
  --error-color: #bb1e10;
  --error-extra-color: #791717;
  
  color: var(--main-color);
  background: var(--bg-color);
}