:root {
  --bg-color: #a86948;
  --main-color: #ffe4bc;
  --sub-color: #81482b;
  --text-color: #ffe4bc;
  --error-color: #ca4754;
  --error-extra-color: #7e2a33;
  
  color: var(--main-color);
  background: var(--bg-color);
}