:root {
  --bg-color: #2b2b2c;
  --main-color: #76689a;
  --sub-color: #d8a0a6;
  --text-color: #f1e2e4;
  --error-color: #d44729;
  --error-extra-color: #8f2f19;
  
  color: var(--main-color);
  background: var(--bg-color);
}