:root {
  --bg-color: #263238;
  --main-color: #80cbc4;
  --sub-color: #4c6772;
  --text-color: #e6edf3;
  --error-color: #fb4934;
  --error-extra-color: #cc241d;
  
  color: var(--main-color);
  background: var(--bg-color);
}