:root {
  --bg-color: #f35588;
  --main-color: #05dfd7;
  --text-color: #f0e9ec;
  --sub-color: #94294c;
  --error-color: #fff591;
  --error-extra-color: #b9b269;
  
  color: var(--main-color);
  background: var(--bg-color);
}