:root {
  --bg-color: #18181a;
  --main-color: #e4609b;
  --sub-color: #47bac0;
  --text-color: #fff;
  --error-color: #fff591;
  --error-extra-color: #b6af68;
  
  color: var(--main-color);
  background: var(--bg-color);
}

body {
  background: var(--bg-color);
}

::selection {
  background-color: var(--error-extra-color);
}

::-moz-selection {
  background-color: var(--error-extra-color);
}

.cursor {
  color: var(--error-color);
  background-color: var(--error-color);
}

#command {
  color: var(--error-color);
}

#liner::before {
  color: var(--main-color);
}

.color2 {
  color: var(--sub-color);
}

.command {
  color: var(--error-color);
  text-shadow: 0 0 5px var(--error-color); 
}

.error {
  color: var(--sub-color);
}

.inherit,
a {
  color: var(--text-color);
}

a:hover {
background: var(--error-color);
}