:root {
  --bg-color: #0f0f0f;
  --main-color: #e7e7e7;
  --sub-color: #4c4c4c;
  --text-color: #e7e7e7;
  --error-color: #ac8c8c;
  --error-extra-color: #c49ea0;
  
  color: var(--main-color);
  background: var(--bg-color);
}

body {
  background: var(--bg-color);
}

::selection {
  background-color: var(--error-extra-color);
}

::-moz-selection {
  background-color: var(--error-extra-color);
}

.cursor {
  color: var(--error-color);
  background-color: var(--error-color);
}

#command {
  color: var(--error-color);
}

#liner::before {
  color: var(--main-color);
}

.color2 {
  color: var(--sub-color);
}

.command {
  color: var(--error-color);
  text-shadow: 0 0 5px var(--error-color); 
}

.error {
  color: var(--sub-color);
}

.inherit,
a {
  color: var(--text-color);
}

a:hover {
background: var(--error-color);
}