:root {
  --bg-color: #212135;
  --main-color: #be3c88;
  --sub-color: #19b3b8;
  --text-color: #838686;
  --error-color: #ca4754;
  --error-extra-color: #7e2a33;
  
  color: var(--main-color);
  background: var(--bg-color);
}