:root {
  --bg-color: #313231;
  --main-color: #a5a096;
  --sub-color: #5d6263;
  --text-color: #f7f5f1;
  --error-color: #dd452e;
  --error-extra-color: #9e3423;
  
  color: var(--main-color);
  background: var(--bg-color);
}