:root {
  --bg-color: #2f343f;
  --main-color: #61afef;
  --sub-color: #eceff4;
  --text-color: #98c379;
  --error-color: #e06c75;
  --error-extra-color: #d62436;
  
  color: var(--main-color);
  background: var(--bg-color);
}

body {
  background: var(--bg-color);
}

::selection {
  background-color: var(--error-extra-color);
}

::-moz-selection {
  background-color: var(--error-extra-color);
}

.cursor {
  color: var(--error-color);
  background-color: var(--error-color);
}

#command {
  color: var(--error-color);
}

#liner::before {
  color: var(--main-color);
}

.color2 {
  color: var(--sub-color);
}

.command {
  color: var(--error-color);
  text-shadow: 0 0 5px var(--error-color); 
}

.error {
  color: var(--sub-color);
}

.inherit,
a {
  color: var(--text-color);
}

a:hover {
background: var(--error-color);
}


.container {
  box-shadow: 0 0 10px 7px var(--main-color);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bg-color);;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--sub-color);
  border-radius: 10px;
}
