:root {
  --bg-color: #7c2142;
  --main-color: #f4a3b4;
  --sub-color: #9994b8;
  --text-color: #ffffff;
  --error-color: #deb80b;
  --error-extra-color: #deb80b;
  
  color: var(--main-color);
  background: var(--bg-color);
}