:root {
  --bg-color: #ced7e0;
  --main-color: #81c4dd;
  --sub-color: #7599b1;
  --text-color: #3b4c58;
  --error-color: #bf616a;
  --error-extra-color: #793e44;
  
  color: var(--main-color);
  background: var(--bg-color);
}