:root {
  --bg-color: #bfbec2;
  --main-color: #553d94;
  --sub-color: #9f8ad4;
  --text-color: #2e2e2e;
  --error-color: #ca4754;
  --error-extra-color: #7e2a33;
  
  color: var(--main-color);
  background: var(--bg-color);
}