:root {
  --bg-color: #fff9f2;
  --main-color: #55c6f0;
  --sub-color: #1e107a;
  --text-color: #1d1e1e;
  --error-color: #fb5745;
  --error-extra-color: #b03c30;
  
  color: var(--main-color);
  background: var(--bg-color);
}

body {
  background: var(--bg-color);
}

::selection {
  background-color: var(--error-extra-color);
}

::-moz-selection {
  background-color: var(--error-extra-color);
}

.cursor {
  color: var(--error-color);
  background-color: var(--error-color);
}

#command {
  color: var(--error-color);
}

#liner::before {
  color: var(--main-color);
}

.color2 {
  color: var(--sub-color);
}

.command {
  color: var(--error-color);
  text-shadow: 0 0 5px var(--error-color); 
}

.error {
  color: var(--sub-color);
}

.inherit,
a {
  color: var(--text-color);
}

a:hover {
background: var(--error-color);
}