:root {
  --bg-color: #fff9f2;
  --main-color: #55c6f0;
  --sub-color: #1e107a;
  --text-color: #1d1e1e;
  --error-color: #fb5745;
  --error-extra-color: #b03c30;
  
  color: var(--main-color);
  background: var(--bg-color);
}