:root {
  --bg-color: #0058a3;
  --main-color: #ffcc02;
  --sub-color: #57abdb;
  --text-color: #ffffff;
  --error-color: #e74040;
  --error-extra-color: #a22f2f;
  
  color: var(--main-color);
  background: var(--bg-color);
}