:root {
    --main-color: #d6686f; 
    --background: #1f4437;
    --selBackground: #ac1823;
    --sub-color: #3e7a65;
    --text-color: #cdc6bc;
    --command: #c82931;

    color: var(--main-color);
    background: var(--background);
}

body {
    background: var(--background);
}

::selection {
    background-color: var(--selBackground);
}

::-moz-selection {
    background-color: var(--selBackground);
}

.cursor {
    color: var(--command);
    background-color: var(--command);
}

#command {
    color: var(--command);
}

#liner::before {
    color: var(--main-color);
}

.color2 {
    color: var(--sub-color);
}

.command {
    color: var(--command);
    text-shadow: 0 0 5px var(--command); 
}

.error {
    color: var(--sub-color);
}

.inherit,
a {
    color: var(--text-color);
}

a:hover {
background: var(--command);
}